.wrapper {
    
    max-width: 1440px;
    padding: 0 40px;
    margin: 100px auto; 
}

.sectionHeadline {
    text-align: center;
    margin-bottom: 150px;
    font-size: 40px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 60px;
}

.cardWrapper {
    flex-basis: 30%; 
    min-width: 320px; 
}

@media (min-width: 499px) {
    .sectionHeadline {
        font-size: 50px;
    }
}